p, label, h2 {
  color: rgb(29, 29, 29);
  cursor: default;
}

p, label {
  font-size: 12pt;
}

input, button {
  background-color: white;
  border: none;
}

select {
  /* TODO - Change to be responsive to content */
  width: 130px;
  margin-right: 20px !important;
  font-size: 12pt !important;
  border: 1px solid rgb(212, 212, 212);
}

input[type=text] {
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
}

input[type=submit], button {
  font-size: 12pt !important;
  height: 40px;
  border-radius: 20px !important;
  padding: 0 18px;
  margin: 5px;
  border: 1px solid rgb(212, 212, 212);
}

.noBorder {
  border: none !important;
}

.light > p {
  color: white;
}

.light > input {
  background-color: rgb(92, 92, 92);
  border: 1px solid rgb(53, 52, 52);
  color: white;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(200, 200, 200);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  /*border-bottom: 1px solid rgb(182, 182, 182);*/
  box-shadow: 0px 1px 10px rgb(200, 200, 200);
}

.header > h2 {
  color: black;
  margin-bottom: 0;
}

.headerBtn {
  background-color: white;
  border: 1px solid rgb(182, 182, 182);
  color: black;
}

.headerBtn:hover {
  background-color: rgb(182, 182, 182);
}

.welcomeMsg {
  padding-bottom: 20px;
}

.createAccount {
  padding-top: 35px;
}

.addForm {
  margin: 13px 0 10px !important;
}

.addLiftBtn {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(92, 92, 92) !important;
}

.closeAddLift {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.closeAddLift > p {
  color: white;
  font-size: 20pt;
  cursor: pointer;
}

.formItem {
  position: relative;
  bottom: 13px;
}

.formItem > p {
  margin-bottom: 0;
}

.formItem > input, .react-datepicker__input-container > input {
  font-size: 12pt;
  margin: 0 20px;
  width: 120px;
}

.App {
  text-align: center;
}

.login, .register {
  padding: 20px 50px;
}

.addButton {
  background-color: rgba(10, 10, 10, 0.8);
  width: 350px;
  height: 150px;
  border-radius: 8px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  right: 75px;
  bottom: 50px;
  padding: 0 19px;
  box-shadow: 0px 2px 8px rgb(195, 195, 195);
  transition: all .2s;
  transform-origin: bottom right;
}

.addButton > h2 {
  color: rgba(250, 250, 250, 1);
  cursor: pointer;
  margin-bottom: 0;
  font-size: 18pt;
}

.addButtonSymbol {
  /* Position and size elements in case we want circle background */
  position: absolute;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  height: 36px;
  width: 36px;
}

.addButtonSymbol > h2 {
  color: rgba(250, 250, 250, 1);
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.collapsed {
  /* Note: transform is more efficient but this is easier */
  height: 50px;
  width: 150px;
  background-color: rgba(115, 115, 115, 0.8);
  border-radius: 25px;
  cursor: pointer;
}

.expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  /*cursor: default;*/
}

.expanded > h2 {
  padding: 0 0 15px;
  cursor: default;
}

.panel {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(226, 226, 226, 0.9);
  border-radius: 8px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 20px;
  align-items: center;
}

.modifyE1rm {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 16pt;
  font-weight: bolder;
}

.modifyClose {
  font-size: 20pt;
  font-weight: bolder;
  position: absolute;
  top: 10px;
  right: 15px;
}

.welcome {
  align-self: flex-start;
  padding: 110px 20px 40px 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcome > h2 {
  margin-top: 10px;
  margin-right: 20px;
}

.inlineLink {
  margin-left: 6px;
}

.repmax {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 950px) {
  .repmax {
    width: 40%;
  }
}

.rmform {
  display: flex;
  /* Padding-right centers the form inside its container */
  padding-right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 13px 60px 10px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.formBottom {
  width: 100%;
}

.saveForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 20px;
}

.rmdisplay {
  margin: 5px 60px 15px;
}

.formContainer {
  box-shadow: 0px 1px 8px rgb(206, 206, 206);
  padding: 20px 0 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rmform > label {
  margin: 5px 20px;
}

.dash {
  display: flex;
  width: 100%;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lift {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 29);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgb(206, 206, 206);
  padding: 20px 40px 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 45%;
  min-width: 300px;
  position: relative;
}

/* TODO - Ensure proper max-width here */
@media only screen and (max-width: 700px) {
  .welcome {
    flex-direction: column;
    padding: 40px 20px 10px;
  }

  .lift {
    padding: 20px 20px 10px 20px;
  }
}

@media only screen and (max-width: 950px) {
  .lift {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .lift {
    max-width: 30%;
  }
}

.deleteLift {
  position: absolute;
  top: 5px;
  left: 10px;
}

.deleteConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteConfirm > p {
  margin-bottom: 0;
}

.liftHeader > h2 {
  font-size: 18pt;
}

.chart {
  margin-bottom: 15px;
  /* width: 100% causes one lift per row only! */
  width: 100%;
}

.card > h3 {
  color: black;
}

.logOut {
}

.App-header {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 50px;
}

.App-header > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
