a {
  /* Need to override default */
  color: rgb(29, 29, 29) !important;
  text-decoration: none !important;
}

p, label, h2, h3 {
  color: rgb(29, 29, 29);
  cursor: default;
}

p, label {
  font-size: 12pt;
}

input, button {
  background-color: white;
  border: none;
}

select {
  /* TODO - Change to be responsive to content */
  width: 130px;
  margin-right: 20px !important;
  font-size: 12pt !important;
  border: 1px solid rgb(212, 212, 212);
}

input[type=text], input[type=password] {
  background-color: white;
  border: 1px solid rgb(212, 212, 212);
  border-radius: 4px;
}

input[type=submit], button {
  font-size: 12pt !important;
  height: 40px;
  border-radius: 20px !important;
  padding: 0 18px;
  margin: 5px;
  border: 1px solid rgb(212, 212, 212);
}

.noBorder {
  border: none !important;
}

.light > p {
  color: white;
}

.light > input {
  background-color: rgb(92, 92, 92);
  border: 1px solid rgb(53, 52, 52);
  color: white;
}

.deleteBtn {
  border: 1px solid rgb(165, 62, 62);
  background-color: rgb(199, 67, 67);
  color: white;
}

.deleteBtn:hover {
  background-color: rgb(165, 62, 62);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(195, 195, 195);
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  box-shadow: 0px 1px 10px rgb(168, 168, 168);
}

.header > h2 {
  color: rgb(22, 22, 22);
  margin-bottom: 0;
  font-weight: bold;
}

.headerBtn {
  background-color: rgba(175, 175, 175, 0.1);
  border: none;
  color: black;
}

.headerBtn:hover {
  background-color: rgba(175, 175, 175, 0.2);
}

.changePasswordMessage {
  width: 100%;
  color: rgb(165, 62, 62);
}

.homeText {
  margin: 0;
  padding: 32px 100px 0;
}

.homeButtons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}

.homeButtons > a {
  margin: 0 15px;
}

.homeButtons > a > button {
  background-color: rgba(175, 175, 175, 0.1);
  border: none;
}

.homeButtons > a > button:hover {
  background-color: rgba(175, 175, 175, 0.2);
}

.welcomeMsg {
  padding-bottom: 20px;
}

.createAccount {
  padding-top: 35px;
}

.addForm {
  margin: 13px 0 10px !important;
}

.addLiftBtn {
  background-color: transparent;
  color: white;
  border: 1px solid rgb(92, 92, 92) !important;
}

.closeAddLift {
  position: absolute;
  right: 10px;
  top: 5px;
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.closeAddLift > p {
  color: white;
  font-size: 20pt;
  cursor: pointer;
}

.formItem {
  position: relative;
  bottom: 13px;
}

.formItem > p {
  margin-bottom: 0;
}

.formItem > input, .react-datepicker__input-container > input {
  font-size: 12pt;
  margin: 0 20px;
  width: 120px;
}

.App {
  text-align: center;
}

.login, .register {
  padding: 20px 50px;
}

.addButton {
  background-color: rgba(10, 10, 10, 0.8);
  width: 350px;
  height: 150px;
  border-radius: 8px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  right: 75px;
  bottom: 50px;
  padding: 0 19px;
  box-shadow: 0px 2px 8px rgb(195, 195, 195);
  transition: all .2s;
  transform-origin: bottom right;
}

@media only screen and (max-width: 550px) {
  .addButton {
    right: 25px;
    bottom: 25px;
    width: calc(100% - 50px);
    height: 200px;
  }
}

.addButton > h2 {
  color: rgba(250, 250, 250, 1);
  cursor: pointer;
  margin-bottom: 0;
  font-size: 18pt;
}

.addButtonSymbol {
  /* Position and size elements in case we want circle background */
  position: absolute;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 18px;
  height: 36px;
  width: 36px;
}

.addButtonSymbol > h2 {
  color: rgba(250, 250, 250, 1);
  margin-bottom: 0.3rem;
  cursor: pointer;
}

.collapsed {
  /* Note: transform is more efficient but this is easier */
  height: 50px;
  width: 150px;
  background-color: rgba(115, 115, 115, 0.8);
  border-radius: 25px;
  cursor: pointer;
}

.expanded {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  /*cursor: default;*/
}

.expanded > h2 {
  padding: 0 0 15px;
  cursor: default;
}

.panel {
  position: absolute;
  width: 100%;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(226, 226, 226, 0.9);
  border-radius: 8px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 110px 0 110px;
  align-items: center;
}

.panel > button {
  margin: 0 20px;
}

.accountPanel {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(202, 202, 202, 0.9);
  display: flex;
  z-index: 2;
}

.closeAccountPanel {
  font-size: 24pt;
  color: rgb(199, 67, 67);
  padding: 1px;
  z-index: 3;
}

.closeAccountPanel:hover {
  color: rgb(165, 62, 62);
}

.closeAccountPanel:hover {
  cursor: pointer;
}

.accountHeader {
  width: 60%;             /* MATCH */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accountHeader > h2, .accountHeader > p {
  font-weight: bolder;
  margin: 0;
}

.accountItem {
  background-color: rgba(241, 241, 241, 0.9);;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgb(180, 180, 180);
  margin: 10px 50px;
  padding: 20px 50px;
  width: 60%;             /* MATCH */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.accountLabel {
  font-size: 14pt;
  font-weight: bold;
  margin: 0 0 5px 0;
  width: 100%;
  border-bottom: 1px solid rgb(212, 212, 212);
  display: flex;
  padding: 0 0 6px 6px;
  justify-content: flex-start;
  align-items: flex-start;
}

.accountContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.accountBackground {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 2;
}

.accountFormContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 0 0;
}

.changePasswordContainer {
  flex-direction: column;
  padding-top: 30px;
}

.accountFormContainer > p {
  margin: 0 auto 0 0;
}

.accountForm {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.accountForm > .submitBtn {
  margin-left: auto;
}

.modifyButtons {
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 25px;
}

.modifyButtons > p {
  margin: 0;
  padding: 0 10px;
}

.modifyE1rm {
  font-size: 14pt;
}

.modifyClose {
  font-size: 20pt;
  font-weight: bolder;
  position: absolute;
  top: 10px;
  right: 15px;
  color: rgb(199, 67, 67);
}

.modifyClose:hover {
  cursor: pointer;
}

.welcome {
  align-self: flex-start;
  padding: 60px 20px 40px 70px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.welcomeButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomeButtons > button, .welcomeButtons > .logOut > .headerBtn {
  margin: 10px 13px;
}

.welcomeLeft > h2 {
  font-weight: bold;
}

.inlineLink {
  margin-left: 6px;
}

.repmax {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rmform {
  display: flex;
  /* Padding-right centers the form inside its container */
  padding-right: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 13px 60px 10px;
  border-bottom: 1px solid rgb(212, 212, 212);
}

.formBottom {
  width: 100%;
}

.saveForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 60px;
  border-top: 1px solid rgb(212, 212, 212);
  padding-top: 20px;
}

.rmdisplay {
  margin: 5px 60px 15px;
}

.formContainer {
  box-shadow: 0px 1px 8px rgb(206, 206, 206);
  padding: 20px 0 25px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.rmform > label {
  margin: 5px 20px;
}

.unitToggle {
  padding: 20px 0 10px;
  width: 100%;
}

.unitToggleLabel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.unitToggleLabel > span {
  font-weight: bold;
}

.unitToggleLabel > span:first-of-type {
  padding: 0 10px;
}

.unitToggleLabel > span:last-of-type {
  padding: 0 0 0 10px;
}

.dash {
  display: flex;
  width: 100%;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.lift {
  background-color: rgb(255, 255, 255);
  color: rgb(29, 29, 29);
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgb(206, 206, 206);
  padding: 20px 40px 30px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  max-width: 45%;
  min-width: 300px;
  position: relative;
}

/* TODO - Ensure proper max-width here */
@media only screen and (max-width: 700px) {
  .welcome {
    flex-direction: column;
    padding: 40px 0 10px;
  }

  .dash {
    padding-left: 5px;
    padding-right: 5px;
  }

  .lift {
    padding: 20px 20px 10px 20px;
    margin: 6px;
  }

  .repmax {
    width: 100%;
    padding: 0 11px;
  }

  .rmform {
    margin: 13px 40px 10px;
  }

  .saveForm {
    flex-direction: column;
  }

  .rmform > .formItem, .saveForm > .formItem {
    padding: 8px;
  }

  .rmform > .submitBtn {
    margin-bottom: 20px;
  }

  .accountItem {
    margin: 5px 10px;
    padding: 20px 15px;
    width: calc(100% - 20px);
  }

  .accountForm {
    flex-direction: column;
  }

  .formItem > select {
    margin-right: 0 !important;
  }
}

@media only screen and (max-width: 950px) {
  .lift {
    max-width: 100%;
  }
}

@media only screen and (min-width: 1800px) {
  .lift {
    max-width: 30%;
  }
}

.emptyLift {
  margin: 100px 0;
  padding: 0 100px;
}

.editLift {
  position: absolute;
  top: 17px;
  padding: 3px;
  color:rgb(184, 184, 184);
  left: 19px;
}

.editLift:hover {
  color:rgb(129, 129, 129);
  cursor: pointer;
}

.editHeader {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.editHeader > h2, .editHeader > p {
  margin: 0;
}

.deleteConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteConfirm > p {
  margin-bottom: 0;
}

.liftHeader > h2 {
  font-size: 18pt;
  font-weight: bold;
  margin-bottom: 3px;
}

.chart {
  margin-bottom: 15px;
  /* width: 100% causes one lift per row only! */
  width: 100%;
}

.card > h3 {
  color: black;
}

.logOut {
}

.App-header {
  background-color: #f1f1f1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding-bottom: 100px;
}

.App-header > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
